body{
    background: #FFEEDD;
    max-width: 450px;
    margin:auto;
    
    
    
}

h1, h2, p{
    color: #29274C;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'PT Serif', serif;
    
}
h1{
    margin-bottom: 0;
}

p{
    font-size: 17px;
}

p.sub{
    font-size:14px;
    font-style:italic;
    margin-top: 0;
    border: 0;
    padding: 0;


}
 p.body1{
     font-size:17px;
 }
p.sources{
    font-size:15px;

}

li.sources{
    list-style: none
}

a:link {
    color: #630353;
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
    color: #d03970;
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
    color: #F2A6BD;
    background-color: transparent;
    text-decoration: underline;
}
li.resources{
    list-style: none;
    font-size: 18px;

}
ul.resources{
    padding-left:0;
}
